body {
  margin: 0;
}

.lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  justify-items: center;
  gap: 16px;
}

.list-container {
  width: 100%;
  background-color: #7FFFD4;
}

.link{
  background-color:none;
  color: 424242;
 }
